spring:
    application:
        name: CINE-RESERVE-GATEWAY

    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
    instance:
        hostname: localhost
jwt:
    secret: ${JWT_SECRET}
